<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<body>
<header class="header--form-page" th:fragment="pageheader">
    <nav class="container container--70" th:include="fragments/menu_top :: menu_top">
    </nav>

    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1 th:text="#{header.give.things}">
                Oddaj rzeczy, których już nie potrzebujesz<br>
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title" th:text="#{header.four.steps}">Wystarczą 4 prose kroki:</div>
                <ul class="slogan--steps-boxes">
                    <li>
                        <div><em>1</em><span th:text="#{header.chose.things}">Wybierz rzeczy</span></div>
                    </li>
                    <li>
                        <div><em>2</em><span th:text="#{header.pack.things}">Spakuj je w worki</span></div>
                    </li>
                    <li>
                        <div><em>3</em><span th:text="#{header.chose.insitution}">Wybierz fundację</span></div>
                    </li>
                    <li>
                        <div><em>4</em><span th:text="#{header.order.courier}">Zamów kuriera</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<header class="header--form-page" th:fragment="pageconfirmation">
    <nav class="container container--70" th:include="fragments/menu_top :: menu_top">
    </nav>

    <div class="slogan container container--90">
        <h2>
            <span th:text="#{form.confirmation.p1}">Dziękujemy za przesłanie formularza.</span><br>
            <span th:text="#{form.confirmation.p2}">Na maila prześlemy wszelkie informacje o odbiorze.</span>
        </h2>
    </div>
</header>

</body>
</html>