<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Formularz przekazania daru</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="header--main-page" th:include="fragments/header :: pageheader"></header>

<section class="form--steps">
    <div class="form--steps-instructions">
        <h3 th:text="#{form.title}">Formularz przekazania darów</h3>
        <p class="active" th:text="#{form.subtitle}">Ważne! Uzupełnij szczegóły dotyczące Twoich rzeczy.
            Dzięki temu będziemy wiedzieć, komu je najlepiej przekazać.</p>
    </div>

</section>

<section class="form-section">
    <div class="form--steps">
        <p class="form--steps-counter">Krok 1/4</p>
        <form action="/donation/form" method="post" th:object="${donation}">
            <fieldset>
                <div class="form-group--checkbox">
                    <h3 th:text="#{form.category}">Kategoria: </h3>
                    <ul>
                        <li th:each="category : ${categoryList}">
                            <label th:for="categories" th:text="${category.name}"></label>
                            <input type="checkbox" th:field="*{categories}" th:value="${category.id}"/>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 th:text="#{form.bags}">Podaj liczbę 60l worków, w które spakowałeś rzeczy: </h3>
                    <label th:for="quantity" th:text="#{form.bags.input}">Liczba 60l worków:</label>
                    <input type="number" th:field="*{quantity}"/>
                </div>
                <div>
                    <h3 th:text="#{form.organisations}">Wybierz organizacje, którym chcesz pomóc:</h3>
                    <ul>
                        <li th:each="currentInst : ${institutionList}">
                            <label th:for="institution" th:text="${currentInst.name}"></label>
                            <input type="radio" th:field="*{institution}" th:value="${currentInst.id}"/>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 th:text="#{form.address}">Adres odbioru: </h2><br>

                    <label th:for="streetName" th:text="#{form.street}">Ulica</label>
                    <input type="text" th:field="*{streetName}"/><br>

                    <label th:for="city" th:text="#{form.city}">Miasto</label>
                    <input type="text" th:field="*{city}"/><br>

                    <label th:for="zipCode" th:text="#{form.zip.code}">Kod pocztowy</label>
                    <input type="text" th:field="*{zipCode}"/><br>

                    <label th:for="phoneNumber" th:text="#{form.phone}">Numer telefonu</label>
                    <input type="text" th:field="*{phoneNumber}"/>
                </div>
                <div>
                    <label th:text="#{form.pickup}">Termin odbioru: </label><br>

                    <label th:for="pickUpDate" th:text="#{form.pickup.date}">Data</label>
                    <input type="text" th:field="*{pickUpDate}" placeholder="rrrr-mm-dd"/><br>

                    <label th:for="pickUpTime" th:text="#{form.pickup.time}">Godzina</label>
                    <input type="text" th:field="*{pickUpTime}" placeholder="gg:mm"/><br>

                    <label th:for="comment" th:text="#{form.pickup.comments}">Uwagi dla kuriera</label>
                    <textarea cols="10" rows="4" th:field="*{comment}"></textarea>

                </div>

                <div>
                    <button type="submit" name="send" th:text="#{form.submit}">Wyślij</button>
                </div>

            </fieldset>



        </form>
    </div>
</section>

<footer th:include="fragments/footer :: pagefooter"></footer>

<script th:src="@{/js/app.js}"></script>

</body>
</html>