<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Formularz przekazania daru</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<header class="header--form-page" th:include="fragments/form_header :: pageconfirmation"></header>

<footer th:include="fragments/footer :: pagefooter"></footer>

<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/form_summary.js}"></script>

</body>
</html>